.carousel {
    padding: 81px 0;
    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;
    }
    .prev, .next  {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        background-color: #fff;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .next  {
        right: -66px;
        left: auto;
    }
    .tns-item {
        img {
            display: block;
            margin: 0 auto;
        }
    }
    .tns-nav {
        display: none;
    }

}

@media (max-width: 1093px) {
    .carousel {
        .prev, .next {
            display: none;
        }
        .tns-nav {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 100px;
            display: flex;
            justify-content: space-around;
            [data-nav] {
                height: 13px;
                width: 13px;
                border: none;
                background-color: #000;
            }
            .tns-nav-active {
                background-color: rgb(165, 4, 4);
            }
        }
        
    }
}