@media (max-width: 867px) {
    .promo {
        &__wrapper {
            align-items: center;
        }
        &__header {
            font-size: 40px;
        }
        &__subheader {
            font-size: 22px;
        }
    }
}

@media (max-width: 576px) {
    .promo {
        background: rgb(177, 148, 94);
        &__header {
            font-size: 32px;
        }
        &__subheader {
            font-size: 17px;
        }
        &__link {
            font-size: 14px;
        }
    }
}

@media (max-width: 376px) {
    .promo {
        background: rgb(177, 148, 94);
        &__wrapper {
            .button {
                font-size: 14px;
                margin-bottom: 12px;
            }
        }
        &__header {
            font-size: 25px;
        }
        &__subheader {
            font-size: 15px;
        }
        &__link {
            font-size: 14px;
        }
        &__icons {
            width: 350px;
        }
    }
}